# Timezone
TZ=America/Sao_Paulo

# MySQL container
MYSQL_PORT=3306
MYSQL_DATABASE=painel_lojista
MYSQL_USER=painel_lojista
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root

# Adminer
ADMINER_PORT=8080

# Prisma / application
DATABASE_URL="mysql://painel_lojista:change-me@localhost:3306/painel_lojista"
DATABASE_URL_DOCKER="mysql://painel_lojista:change-me@mysql:3306/painel_lojista"
